// Tablets & Smaller
// @media(max-width: 800px) {}

// Smartphones
@media (max-width: 500px) {
  #header-home {
    .navbar {

      a h1 {
        font-size: 2rem;

        // .logo-color {}
      }

      ul {
        display: none;
      }

      #nav-open {
        display: inline;
      }
    }
  }
}

// Landscape
// @media(max-height: 580px) {}