// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    .navbar {
      a h1 {
        font-size: 1.5rem;
      }

      ul {
        li {
          a {
            font-size: 1rem;
            padding: 0.75rem 1rem;
          }
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {

  // Utilities
  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  #header-home {
    .navbar {
      a h1 {
        font-size: 2rem;

        // .logo-color {}
      }

      ul {
        display: none;
      }

      #nav-open {
        display: inline;
      }
    }

    #header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Contact Me Modal
  #contact-modal {
    .modal-content {
      #contact-form {
        .form-fields {
          grid-template-areas:
            'name'
            'email'
            'subject'
            'phone'
            'message'
            'recaptcha'
            'submit';

          .message-input {
            height: 10rem;
          }
        }
      }
    }
  }

  // Work Section
  #work {
    .container h1 {
      font-size: 2rem;
    }

    .work {
      &-header {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }


}

// Landscape
// @media(max-height: 580px) {}