@import 'config';
@import 'utilities';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: $light-color;
  color: $dark-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}



// Header 
#header-home {

  // Main Nav

  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 15vh;
    width: 100%;
    background: $dark-color;
    opacity: 0.85;
    color: $light-color;
    transition: 0.5s;

    .logo {
      font-size: 2.5rem;
      line-height: 60px;
      color: $light-color;

      .logo-color {
        color: $primary-color;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {

        a {
          padding: 1rem 1.5rem;
          margin: 0 0.5rem;
          color: $light-color;
          font-weight: 700;
          font-size: 1.5rem;
          border-radius: 10px;
          transition: all 0.4s;

          &:hover {
            background: $secondary-color;
            color: $light-color;
          }
        }
      }
    }

    // Mobile Menu
    // .btn-mobile-open {
    //   font-size: 4rem;
    //   cursor: pointer;
    //   margin: auto 1rem auto 0;
    //   border-radius: 10px;
    //   padding: 0.7rem 1rem;
    //   display: none;

  }
}

// Starting Navbar CSS before scroll w/ JS
.top {
  background: transparent;
}


// Header Content
#header-content {
  color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
  background: $bg-image no-repeat center center/ cover;
  height: 100vh;


  h1 {
    font-size: 3rem;
  }

  a {
    transition: all 0.4s;

    &:hover {
      background: $secondary-color;
    }
  }

}


// Mobile Menu Open
#header-home .navbar .btn-mobile-open {
  font-size: 3rem;
  line-height: 3rem;
  cursor: pointer;
  border-radius: 10px;
  display: none;

  &:hover {
    background-color: $secondary-color;
  }

}

// Mobile Overlay
#nav-overlay {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: hidden;
  // display: none;

  .btn-mobile-close {
    font-size: 3.5rem;
    line-height: 3.5rem;
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
    color: $light-color;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }


  .overlay-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a {
      display: block;
      color: $light-color;
      font-size: 2.25rem;
      margin: 10px 0;
      transition: 0.3s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Contact Me Modal
#contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  display: none;

  .modal-content {
    background: $light-color;
    padding: 1rem;
    margin: 3rem auto 0 auto;
    max-width: 760px;

    .btn-contact-close {
      color: $dark-color;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 800;
      float: right;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }

    #contact-form {
      margin-top: 1rem;

      .form-fields {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-areas:
          'name email'
          'subject phone'
          'message message'
          'recaptcha submit';

        // Grid Areas
        .name-input {
          grid-area: name;
        }

        .subject-input {
          grid-area: subject;
        }

        .email-input {
          grid-area: email;
        }

        .phone-input {
          grid-area: phone;
        }

        .message-input {
          grid-area: message;
        }

        .form-recaptcha {
          grid-area: recaptcha;
        }

        .form-submit {
          grid-area: submit;
          width: 100%;
        }

        .text-input {
          padding: 0.5rem 1rem;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
        }
      }

      // button[type='submit'] {
      //   width: 30%;
      //   display: block;
      //   margin: 0 auto;
      // }
    }
  }
}

// Section A: About
#about {
  .about-content {
    margin-top: 1.5rem;

    .about-image {
      background: $about-image no-repeat center center/cover;
      border-radius: 5px;
      min-height: 250px;
    }

    .about-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      text-align: center;

      .about-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        h2 {
          font-size: 2rem;
        }

        div a {
          padding: 0.5rem;
        }

      }

      .lead-p {
        font-size: .8rem;
        margin: 1rem 0;
      }

      .lead {
        font-size: 1.2rem;
      }

      .about-icons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .about-icons i {
        color: $alt-color;
        margin: 0 0.5rem;
      }
    }
  }
}

// Work Section
#work {
  .container {
    text-align: center;

    h1 {
      font-size: 3rem;
      padding: 1rem;
    }
  }

  .work {
    &-card {
      margin: 2.5rem 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2rem;
      }

      ul {
        display: flex;

        li {
          margin: 1rem;

          a {
            color: $primary-color;
            transform: 0.3s;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }

    &-info {
      text-align: center;

      p {
        font-size: 1.2rem;
        line-height: 1.4;
      }


      div i {
        margin: 0 0.5rem;
        color: $alt-color;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
    }

    // 


  }
}

// Footer
footer {
  text-align: center;
  background: $dark-color;
  color: $light-color;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2rem;
  }

  a {
    padding-left: 1rem;
    color: $light-color;
  }

}

// Import Media Queries
@import 'media';