@import 'config';
@import 'utilities';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: $light-color;
  color: $dark-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}



// Header 
#header-home {

  // Main Nav

  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    background: #333;
    opacity: 0.85;
    color: #fff;
    transition: 0.5s;

    h1 {
      font-size: 2.5rem;
      padding: 1rem 2rem;
      color: #fff;

      .logo-color {
        color: $primary-color;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {

        a {
          padding: 1rem 1.5rem;
          margin: 0 0.5rem;
          color: $light-color;
          font-weight: 700;
          font-size: 1.5rem;
          border-radius: 10px;
          transition: all 0.4s;

          &:hover {
            background: $secondary-color;
            color: $light-color;
          }
        }
      }
    }

    // Mobile Menu
    #nav-open {
      font-size: 2.5rem;
      line-height: 2.5rem;
      cursor: pointer;
      margin-right: 1rem;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      display: none;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  // Starting Navbar CSS before scroll w/ JS
  .top {
    background: transparent;
  }


  // Header Content
  #header-content {
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
    background: $bg-image no-repeat center center/ cover;
    height: 100vh;


    h1 {
      font-size: 3rem;
    }

    a {
      transition: all 0.4s;

      &:hover {
        background: $secondary-color;
      }
    }

  }
}

// Mobile Overlay
#nav-overlay {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: hidden;
  // display: none;

  .btn-mobile-close {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a {
      display: block;
      color: #fff;
      font-size: 2.25rem;
      margin: 10px 0;
      transition: 0.3s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Contact Me Modal
#contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

  .modal-content {
    background: #fff;
    padding: 1rem;
    margin: 3rem auto 0 auto;
    max-width: 760px;

    .btn-contact-close {
      color: #333;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 800;
      float: right;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }

    #contact-form {

      .form-fields {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-areas:
          'name email'
          'subject phone'
          'message message';

        // Grid Areas
        .name-input {
          grid-area: name;
        }

        .subject-input {
          grid-area: subject;
        }

        .email-input {
          grid-area: email;
        }

        .phone-input {
          grid-area: phone;
        }

        .message-input {
          grid-area: message;
        }

        .text-input {
          padding: 0.5rem 1rem;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
        }
      }

      button[type='submit'] {
        width: 30%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

// Section A: About
#about {
  .about-content {
    max-height: 500px;
    margin-top: 1.5rem;

    img {
      background: url($about-image) no-repeat top center/cover;
      max-height: 500px;
      border-radius: 5px;
    }

    .about-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      text-align: center;

      h2 {
        font-size: 2rem;
      }


      .about-icons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .about-icons i {
        color: $alt-color;
        margin: 0 0.5rem;
      }
    }
  }
}

// Work Section
#work {
  .work {
    &-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin: 1.5rem 0;

      p {
        font-size: 1.2rem;
        line-height: 1.4;
      }
    }

    // &-content {
    //   background: lightgray;
    //   padding: 0 1rem;
    // }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 2.5rem;
      }

      ul {
        display: flex;

        li {
          margin: 1rem;

          a {
            color: $primary-color;
            transform: 0.3s;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }

    &-info {
      text-align: center;

      div i {
        margin: 0 0.5rem;
        color: $alt-color;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
    }


  }
}

// Footer
footer {
  text-align: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2rem;
  }

  a {
    padding-left: 1rem;
    color: #fff;
  }

}

// Import Media Queries
@import 'media';